// King's Cross, Station
@import "normalize";
@import "google-homepage";

/* Styling */
body {
    background: #ffe9cc;
}
//Stage
#stage {
    position: relative;
}

#stage svg {
    position: absolute;
    bottom: 0;
    right: 0;
}